@use '../../../styles/abstract/colors' as *;

.login {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5vh;

    .heading {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-transform: capitalize;

        >h1 {
            margin-right: 20px;
        }
    }

    .hint {
        margin-top: 20px;
        font-size: 10px;
        text-align: end;
    }
}

.light {
    background-color: $gray-0;
}

.dark {
    background-color: $black-0;
}