@use '../../../styles/abstract/colors' as *;
@use '../../../styles/abstract/animations' as *;

.header {
    border-radius: 10px;
    position: sticky;
    top: 0;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5vh;
        padding: 20px 40px;


        .logo {
            width: 40px;
            height: 40px;
            border-radius: 20px;
            background-color: $white;
        }

        ul {
            display: flex;
            list-style-type: none;
            font-weight: bold;
            align-items: center;
            cursor: pointer;

            color: $white;
            transition: $color-anim;

            li {
                margin: 1em;
            }
        }
    }
}

.light {
    transition: $bg-anim;
    background-color: $violet-400;
}

.dark {
    transition: $bg-anim;
    background-color: $yellow-600;
}