@use '../../../styles/abstract/colors' as *;
@use '../../../styles/abstract/animations' as *;

.header {
    border-radius: 10px;

    nav {
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;

        .logo {
            width: 40px;
            height: 40px;
            border-radius: 20px;
            background-color: $white;
        }

        ul {
            display: flex;
            list-style-type: none;
            font-weight: bold;
            align-items: center;
            cursor: pointer;

            color: $white;
            transition: $color-anim;

            li {
                margin: 1em;

                .logout {
                    background: none;
                    border: none;
                }

                &:hover {
                    color: $blue-700;
                }
            }


        }
    }
}

.light {
    transition: $bg-anim;
    background-color: $violet-400;
}

.dark {
    transition: $bg-anim;
    background-color: $green-600;
}