@use '../abstract/colors' as *;
@use '../abstract/animations' as *;

body {
    padding: 0;
    margin: 0;

}


.light {


    .text {
        color: $black;
        transition: $color-anim;
    }

    .background {
        background-color: $background;
        transition: $bg-anim;
    }
}

.dark {

    .text {
        color: $white;
        transition: $color-anim;
    }

    .background {
        background-color: $background-dark;
        transition: $bg-anim;
    }

}


.flex {
    display: flex;
    justify-content: center;
    min-height: 100vh;

}

.wrapper {
    padding: 10px;
    width: 100%;
}