@use '../abstract/colors' as *;
@use '../abstract/animations' as *;

body {
    padding: 0;
    margin: 0;
}


.light {


    .text {
        color: $black;
        transition: $color-anim;
    }

    .background {
        background-color: $background;
        transition: $bg-anim;
    }

    .backgroundContent {
        background-color: $background-content;
        transition: $bg-anim;
    }
}

.dark {

    .text {
        color: $white;
        transition: $color-anim;
    }

    .background {
        background-color: $background-dark;
        transition: $bg-anim;
    }

    .backgroundContent {
        background-color: $background-content-dark;
        transition: $bg-anim;
    }

}


.flex {
    display: flex;
    justify-content: center;

}

.wrapper {
    padding: 5px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

}